<div class="wrapper">
  <h1>Typing Game</h1>
  <p class="random-text">
    <span
      *ngFor="let character of randomText.split(''); let i = index"
      [ngStyle]="{
        color:
          i < text.length
            ? character === text[i]
              ? 'lightgreen'
              : 'red'
            : 'black'
      }"
      >{{ character }}</span
    >
  </p>
  <input
    [value]="text"
    (input)="onInput($event)"
    placeholder="Start Typing..."
  />
  <h2 *ngIf="text === randomText">You Win!</h2>
</div>
